<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>
  <start-date>20060106</start-date>
  <end-date>20060428</end-date>
  <talk>
    <speaker>&nbsp;</speaker>
    <topic>Social with Phil</topic>
    <other>Vladimir's defense, Phil's talk on Links</other>
    <date>20060106</date>
  </talk>  
  <talk>
    <speaker>Dimitris</speaker>
    <topic>Theorem proving in Haskell</topic>
    <other>People away at POPL</other>
    <date>20060113</date>
  </talk>  
  <talk>
    <speaker>Peng</speaker>
    <topic>Encoding information flow in Haskell</topic>
    <date>20060120</date>
  </talk>  
  <talk>
    <speaker>&nbsp;</speaker>
    <topic>Social</topic>
    <other>Black Friday</other>
    <date>20060127</date>
  </talk>  
  <talk>
    <speaker>Benli and Paul Govereau</speaker>
    <topic>Type-class like overloading with modules</topic>
    <date>20060203</date>
  </talk>  
  <talk>
    <speaker>Nate</speaker>
    <topic>Polymorphic Regular Tree Types and Patterns</topic>
    <link>http://www.pps.jussieu.fr/~vouillon/publi/regtypes.pdf</link>
    <date>20060217</date>
  </talk>  
  <talk>
    <speaker>Geoff</speaker>
    <topic>First-order unification and anti-unification</topic>
    <date>20060224</date>
  </talk>  
  <talk>
    <speaker>Geoff</speaker>
    <topic>The Î»Ï-calculus and higher-order unification</topic>
    <link>http://citeseer.ist.psu.edu/dowek95higherorder.html</link>
    <date>20060303</date>
  </talk>  
  <talk>
    <speaker>&nbsp;</speaker>
    <topic>Social</topic>
    <other>Spring break</other>
    <date>20060310</date>
  </talk>  
  <talk>
    <speaker>Dimitris</speaker>
    <topic>"On functors expressible in the polymorphic typed lambda calculus"</topic>
    <link>http://homepages.inf.ed.ac.uk/gdp/publications/Functors_Expressible_Polymorphic.pdf</link>
    <date>20060317</date>
  </talk>  
  <talk>
    <speaker>Arthur</speaker>
    <topic>Simple, partial type inference for System F based on type containment</topic>
    <link>http://pauillac.inria.fr/~remy/work/fml/</link>
    <date>20060324</date>
  </talk>  
  <talk>
    <speaker>Karl</speaker>
    <topic>Programming in Epigram</topic>
    <link>http://www.e-pig.org/</link>
    <date>20060331</date>
  </talk>  
  <talk>
    <speaker>Aaron</speaker>
    <topic>Dependent functional programming in Coq</topic>
    <link>http://coq.inria.fr/</link>
    <other>ICFP Deadline</other>
    <date>20060407</date>
  </talk>  
  <talk>
    <speaker>Brian</speaker>
    <topic>More Epigram</topic>
    <link>http://www.e-pig.org/</link>
    <date>20060414</date>
  </talk>  
  <talk>
    <speaker>&nbsp;</speaker>
    <topic>Social</topic>
    <other>Last day of classes for the semester</other>
    <date>20060421</date>
  </talk>  
  <talk>
    <speaker>Joseph Schorr and Chao Cai </speaker>
    <topic>The Serulian project</topic>
    <link>http://www.seas.upenn.edu/~cse400/CSE401_2006/CaiSchorr/project.html</link>
    <date>20060428</date>
  </talk>  
</schedule>
