<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>
  <start-date>20130104</start-date>
  <end-date>20130503</end-date>
  <talk>
    <speaker>Daniel</speaker>
    <topic>Practice talk</topic>
    <other></other>
    <date>20130104</date>
  </talk>
  <talk>
    <speaker>Michael</speaker>
    <topic></topic>
    <other>Daniel brings shipment of Iran</other>
    <date>20130111</date>
  </talk>
  <talk>
    <speaker>Vilhelm</speaker>
    <topic></topic>
    <other>Peter-Michael</other>
    <date>20130118</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other></other>
    <date>20130125</date>
  </talk>
  <talk>
    <speaker>Chris</speaker>
    <topic></topic>
    <other></other>
    <date>20130201</date>
  </talk>
  <talk>
    <speaker>Emilio</speaker>
    <topic></topic>
    <other>Marco</other>
    <date>20130208</date>
  </talk>
  <talk>
    <speaker>Loris</speaker>
    <topic></topic>
    <other></other>
    <date>20130215</date>
  </talk>
  <talk>
    <speaker>Marco</speaker>
    <topic></topic>
    <other></other>
    <date>20130222</date>
  </talk>
  <talk>
    <speaker>Delphine</speaker>
    <topic></topic>
    <other></other>
    <date>20130301</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other></other>
    <date>20130308</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other></other>
    <date>20130315</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other></other>
    <date>20130322</date>
  </talk>
  <talk>
    <speaker>Hongbo</speaker>
    <topic></topic>
    <other>Hongbo</other>
    <date>20130329</date>
  </talk>
  <talk>
    <speaker>Peter-Michael</speaker>
    <topic></topic>
    <other></other>
    <date>20130405</date>
  </talk>
  <talk>
    <speaker>Brent</speaker>
    <topic></topic>
    <other></other>
    <date>20130412</date>
  </talk>
  <talk>
    <speaker>Justin</speaker>
    <topic></topic>
    <other></other>
    <date>20130419</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other></other>
    <date>20130426</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other></other>
    <date>20130503</date>
  </talk>
</schedule>
