<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>
  <start-date>20080118</start-date>
  <end-date>20080509</end-date>
  <talk>
    <speaker></speaker>
    <topic>Social</topic>
    <other>&nbsp;</other>
    <date>20080118</date>
  </talk>
  <talk>
    <speaker>Michael</speaker>
    <topic><a href="http://www.ccs.neu.edu/scheme/pubs/popl08-thf.pdf">On the
Design and Implementation of Typed Scheme</a></topic>
    <other>&nbsp;</other>
    <date>20080125</date>
  </talk>
  <talk>
    <speaker>Damien</speaker>
    <topic><a
href="http://www.cs.unibo.it/~sangio/DOC_public/env.pdf">Environmental
Bisimulations for Higher-Order Languages</a></topic>
    <other>&nbsp;</other>
    <date>20080201</date>
  </talk>
  <talk>
    <speaker>Frances Perry (Princeton)</speaker>
    <topic>Reasoning about Software in the Presence of Transient Faults</topic>
    <other>&nbsp;</other>
    <date>20080208</date>
  </talk>
  <talk>
    <speaker>Aaron, Benjamin, Damien</speaker>
    <topic>A Security Model for Web Browsers</topic>
    <other>&nbsp;</other>
    <date>20080215</date>
  </talk>
  <talk>
    <speaker>Peng</speaker>
    <topic><a
href="http://research.microsoft.com/users/misard/papers/popl2008.pdf">Semantics
of Transactional Memory and Automatic Mutual Exclusion</a></topic>
    <other>&nbsp;</other>
    <date>20080222</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Admitted Students Visit</topic>
    <other>&nbsp;</other>
    <date>20080229</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>NJPLS</topic>
    <other>&nbsp;</other>
    <date>20080307</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Spring Break</topic>
    <other>&nbsp;</other>
    <date>20080314</date>
  </talk>
  <talk>
    <speaker>Brian</speaker>
    <topic><a href="http://doi.acm.org/10.1145/1328438.1328482">Focusing and
higher-order abstract syntax</a></topic>
    <other>&nbsp;</other>
    <date>20080321</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>ICFP Amigo Review</topic>
    <other>&nbsp;</other>
    <date>20080328</date>
  </talk>
  <talk>
    <speaker>Jianzhou</speaker>
    <topic>System F in Coq</topic>
    <other>&nbsp;</other>
    <date>20080404</date>
  </talk>
  <talk>
    <speaker>Jeff</speaker>
    <topic><a href="http://www.google.com/search?q=wadler+dual">Call-by-value is dual to call-by-name</a></topic>
    <other>&nbsp;</other>
    <date>20080411</date>
  </talk>
  <talk>
    <speaker>Limin</speaker>
    <topic><a href="http://www.eecs.harvard.edu/%7Ealeks/papers/hoarelogic/icfp06.pdf">Hoare Type Theory, Polymorphism and Separation</a></topic>
    <other>&nbsp;</other>
    <date>20080418</date>
  </talk>
  <talk>
    <speaker>Steve</speaker>
    <topic><a
href="http://research.microsoft.com/~simonpj/papers/assoc-types/icfp2008.pdf">Type
Checking with Open Type Functions</a></topic>
    <other>&nbsp;</other>
    <date>20080425</date>
  </talk>
  <talk>
    <speaker>Karl</speaker>
    <topic><a
href="http://homepages.inf.ed.ac.uk/wadler/papers/dual-revolutions/dual-revolutions.pdf">Down
with the bureaucracy of syntax! Pattern matching for classical linear logic</a></topic>
    <other>&nbsp;</other>
    <date>20080502</date>
  </talk>
  <talk>
    <speaker>Dimitris</speaker>
    <topic><a
href="http://research.microsoft.com/users/daan/download/papers/mlftof.pdf">A type directed translation of MLF to System F</a></topic>
    <other>&nbsp;</other>
    <date>20080509</date>
  </talk>
</schedule>
