<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>
  <start-date>20090116</start-date>
  <end-date>20090515</end-date>
  <talk>
    <speaker>Nate</speaker>
    <topic><a
href="http://wwwtcs.inf.tu-dresden.de/~voigt/popl09-2.pdf">
Bidirectionalization for Free! </a></topic>
    <other>&nbsp;</other>
    <date>20090116</date>
  </talk>
  <talk>
    <speaker>Peter Michael</speaker>
    <topic><a href="http://www.ece.northwestern.edu/~robby/pubs/papers/popl2007-mf-bw.pdf">Operational
Semantics for Multi-Language Programs</a></topic>
    <other>Michael bakes</other>
    <date>20090123</date>
  </talk>
  <talk>
    <speaker>Jeff</speaker>
    <topic><a
href="http://www.seas.upenn.edu/~vaughan2/docs/logical_exns_draft.pdf">A logical interpretation of Java-style exceptions</a></topic>
    <other></other>
    <date>20090130</date>
  </talk>
  <talk>
    <speaker>Chris</speaker>
    <topic><a href="http://gallium.inria.fr/~montagu/publications/2009/Montagu-Remy@popl09:fzip.pdf">Modeling Abstract Types in Modules with Open
Existential Types</a></topic>
    <other></other>
    <date>20090206</date>
  </talk>
  <talk>
    <speaker>Aaron</speaker>
    <topic><a href="http://www.springerlink.com/content/nudp8rmw194glhqc/">Towards a Type System for Analyzing JavaScript Programs</a></topic>
    <other></other>
    <date>20090213</date>
  </talk>
  <talk>
    <speaker>Vilhelm</speaker>
    <topic><a href="http://www.brics.dk/~danvy/tdpe-ln.pdf">Type-directed
Partial Evaluation</a></topic>
    <other>Brent bakes</other>
    <date>20090220</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Amigo Review for ICFP</topic>
    <other>Michael bakes</other>
    <date>20090227</date>
  </talk>
  <talk>
    <speaker>Jianzhou Zhao</speaker>
    <topic><a
href="http://ttic.uchicago.edu/~amal/papers/sdri.pdf">State-Dependent
Representation Independence</a></topic>
    <other>Daniel bakes</other>
    <date>20090306</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Social (spring break)</topic>
    <other></other>
    <date>20090313</date>
  </talk>
  <talk>
    <speaker>Guest speaker: <a href="http://cobweb.ecn.purdue.edu/~qobi/">Jeffrey Siskind</a></speaker>
    <topic><a href="http://www.ece.purdue.edu/~qobi/stalingrad-examples2009/">Automatic Differentiation of Functional Programs and its use for Probabilistic Programming</a></topic>
    <other>Jeff bakes</other>
    <date>20090320</date>
  </talk>
  <talk>
    <speaker>Guest speaker: <a href="http://srl.cs.jhu.edu/~shap/">Jonathan S. Shapiro</a></speaker>
    <topic><a href="http://www.bitc-lang.org/">BitC</a> (<a href="2009_spring_shap.pdf">slides</a>)</topic>
    <other></other>
    <date>20090327</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Social (NJPLS)</topic>
    <other></other>
    <date>20090403</date>
  </talk>
  <talk>
    <speaker>Brent</speaker>
    <topic>Combinatorial species</topic>
    <other>Chris bakes</other>
    <date>20090410</date>
  </talk>
  <talk>
    <speaker>Steve</speaker>
    <topic><a
href="http://web.comlab.ox.ac.uk/oucl/work/samson.abramsky/cill.ps.gz">
Computational Interpretations of Linear Logic</a> (section 6)</topic>
    <other></other>
    <date>20090417</date>
  </talk>
  <talk>
    <speaker>Brian</speaker>
    <topic>Abella</topic>
    <other></other>
    <date>20090424</date>
  </talk>
  <talk>
    <speaker>Michael</speaker>
    <topic><a
href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.123.3771">Unifying
hybrid types and contracts</a></topic>
    <other></other>
    <date>20090501</date>
  </talk>
  <talk>
    <speaker>Daniel</speaker>
    <topic><a
href="http://research.microsoft.com/en-us/um/people/simonpj/papers/stm/stm.pdf">STM
in Haskell</a></topic>
    <other></other>
    <date>20090508</date>
  </talk>
  <talk>
    <speaker>Benjamin</speaker>
    <topic>Security Views for Lenses</topic>
    <other></other>
    <date>20090515</date>
  </talk>
</schedule>
