<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>

  <start-date>20070112</start-date>
  <end-date>20070427</end-date>
  <talk>
    <speaker></speaker>
    <topic>Social</topic>
    <other>&nbsp;</other>
    <date>20070112</date>
  </talk>
  <talk>
    <speaker>Jeff</speaker>
    <topic>
      <a href="http://www.cs.cornell.edu/andru/papers/jmatch2.pdf">
        Interruptible&nbsp;Iterators</a>
    </topic>
    <other></other>
    <date>20070119</date>
  </talk>
  <talk>
    <speaker>Boon Thau Loo</speaker>
    <topic>The&nbsp;Design&nbsp;and&nbsp;Implementation&nbsp;of&nbsp;Declarative&nbsp;Networks</topic>
    <other>&nbsp;</other>
    <date>20070126</date>
  </talk>
  <talk>
    <speaker>Nate</speaker>
    <topic><a href="http://www.soe.ucsc.edu/~cormac/papers/popl06-hybrid.ps">
        Hybrid&nbsp;Checking</a></topic>
    <other>&nbsp;</other>
    <date>20070202</date>
  </talk>
  <talk>
    <speaker>Swarat&nbsp;Chauduri</speaker>
    <topic>Algorithms&nbsp;and&nbsp;Logics&nbsp;for&nbsp;Software&nbsp;Analysis</topic>
    <other>&nbsp;</other>
    <date>20070209</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>(no&nbsp;meeting)</topic>
    <other>NJPLS</other>
    <date>20070216</date>
  </talk>
  <talk>
    <speaker>Bow-Yaw&nbsp;Wang (Academia&nbsp;Sinica,&nbsp;Taiwan)</speaker>
    <topic>
      <a href="http://www.iis.sinica.edu.tw/~bywang/papers/asian-1.pdf.gz">
        Formalization&nbsp;of&nbsp;CTL*&nbsp;in&nbsp;Calculus&nbsp;of&nbsp;Inductive&nbsp;Constructions
      </a></topic>
    <other>&nbsp;</other>
    <date>20070223</date>
  </talk>
  <talk>
    <speaker>Ravi</speaker>
    <topic>C# 3.0 Enhancements</topic>
    <other>&nbsp;</other>
    <date>20070302</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>(no meeting)</topic>
    <other>Spring Break</other>
    <date>20070309</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other>Grad Student Visit Day</other>
    <date>20070316</date>
  </talk>
  <talk>
    <speaker>Michael&nbsp;Hicks (U.&nbsp;Maryland)</speaker>
    <topic>CMod: Modular Type Safety and Information Hiding for C
      <a href="http://www.cs.umd.edu/~saurabhs/CMod/">(CMod Project Webpage)</a>
    </topic>
    <other></other>
    <date>20070323</date>
  </talk>
  <talk>
    <speaker>Steve</speaker>
    <topic>Dependency Core Calculus
      <a href="http://www.cse.ucsc.edu/~abadi/Papers/acldcc-acm.pdf">
        (Abadi, ICFP '06)</a></topic>
    <other></other>
    <date>20070330</date>
  </talk>
  <talk>
    <speaker>Peng</speaker>
    <topic>Lightweight concurrency</topic>
    <other></other>
    <date>20070406</date>
  </talk>
  <talk>
    <speaker>Stephanie</speaker>
    <topic></topic>
    <other></other>
    <date>20070413</date>
  </talk>
  <talk>
    <speaker>Dimitris</speaker>
    <topic></topic>
    <other></other>
    <date>20070420</date>
  </talk>
  <talk>
    <speaker>Benjamin</speaker>
    <topic></topic>
    <other></other>
    <date>20070427</date>
  </talk>
</schedule>
