<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>

  <start-date>20070112</start-date>
  <end-date>20070427</end-date>
  <talk>
    <speaker></speaker>
    <topic>Social</topic>
    <other>&nbsp;</other>
    <date>20070112</date>
  </talk>
  <talk>
    <speaker>Jeff</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20070119</date>
  </talk>
  <talk>
    <speaker>Boon Thau Loo</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20070126</date>
  </talk>
  <talk>
    <speaker>Nate</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20070202</date>
  </talk>
  <talk>
    <speaker>Aaron</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20070209</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other>NJPLS</other>
    <date>20070216</date>
  </talk>
  <talk>
    <speaker>Karl</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20070223</date>
  </talk>
  <talk>
    <speaker>Ravi</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20070302</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other>Spring Break</other>
    <date>20070309</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic></topic>
    <other>Grad Student Visit Day</other>
    <date>20070316</date>
  </talk>
  <talk>
    <speaker>Brian</speaker>
    <topic></topic>
    <other></other>
    <date>20070323</date>
  </talk>
  <talk>
    <speaker>Steve</speaker>
    <topic></topic>
    <other></other>
    <date>20070330</date>
  </talk>
  <talk>
    <speaker>Ravi</speaker>
    <topic></topic>
    <other></other>
    <date>20070406</date>
  </talk>
  <talk>
    <speaker>Stephanie</speaker>
    <topic></topic>
    <other></other>
    <date>20070413</date>
  </talk>
  <talk>
    <speaker>Dimitris</speaker>
    <topic></topic>
    <other></other>
    <date>20070420</date>
  </talk>
  <talk>
    <speaker>Benjamin</speaker>
    <topic></topic>
    <other></other>
    <date>20070427</date>
  </talk>
</schedule>
