<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE schedule SYSTEM "schedule.dtd">
<schedule>
  <start-date>20080118</start-date>
  <end-date>20080509</end-date>
  <talk>
    <speaker></speaker>
    <topic>Social</topic>
    <other>&nbsp;</other>
    <date>20080118</date>
  </talk>
  <talk>
    <speaker>Michael</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080125</date>
  </talk>
  <talk>
    <speaker>Damian</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080201</date>
  </talk>
  <talk>
    <speaker>Frances Perry</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080208</date>
  </talk>
  <talk>
    <speaker>Aaron</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080215</date>
  </talk>
  <talk>
    <speaker>Peng</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080222</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Admitted Students Visit</topic>
    <other>&nbsp;</other>
    <date>20080229</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>NJPLS</topic>
    <other>&nbsp;</other>
    <date>20080307</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>Spring Break</topic>
    <other>&nbsp;</other>
    <date>20080314</date>
  </talk>
  <talk>
    <speaker>Brian</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080321</date>
  </talk>
  <talk>
    <speaker></speaker>
    <topic>ICFP Deadline</topic>
    <other>&nbsp;</other>
    <date>20080328</date>
  </talk>
  <talk>
    <speaker>Jianzhou</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080404</date>
  </talk>
  <talk>
    <speaker>Jeff</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080411</date>
  </talk>
  <talk>
    <speaker>Limin</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080418</date>
  </talk>
  <talk>
    <speaker>Stephanie / Steve</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080425</date>
  </talk>
  <talk>
    <speaker>Karl</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080502</date>
  </talk>
  <talk>
    <speaker>Dimitris</speaker>
    <topic></topic>
    <other>&nbsp;</other>
    <date>20080509</date>
  </talk>
</schedule>
