/*
body, h1, h2, h3, h4, p, ul, ol, dl, li, dt, dd, th, td, i, b, em, 
strong  { font-family: palatino, book antiqua; }
*/
ol ol { list-style-type: upper-alpha; }
body {
  background: #8E70A7;
  color: #000000;
}

div.content {
  background: #F5F5E7;
  padding: 0.5em;
}


